@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900;
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (orientation: landscape) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}